---
layout: default
permalink: /404.html
title: پیدا نشد
---
{% include header.html %}

<div class="page-404">

    <h1>404</h1>
    <div class="content">
        <h2>پیدا نشد 😢</h2>
        <p>اووووپس ... صفحه ای که به دنبال اون هستید پیدا نشد. لطفا به صفحه اصلی برگردید و یا در وبلاگ جستجو کنید!</p>
        <form action="">
            <input type="text" placeholder="دنبال چه چیزی می گردید؟">
            <input type="submit" value="جستجو">
        </form>
    </div>
</div>

{% include footer.html %}