---
layout: default
permalink: /tags/
title: آرشیو تگ ها
---
{% include header.html %}
<div class="page-tags">



    <div class="tags-list-container" id="tags-list-container">
        {% for tag in site.tags %}
            <a href="/tags/#{{ tag[0] }}" style="font-size: {{ tag[1].size | plus: 12 }}px;">{{ tag[0] }}<span>({{ tag[1].size }})</span></a>
        {% endfor %}
    </div>

    <div class="tags-archive">
        {% for tag in site.tags %}
            <div class="tag-container" id="{{ tag[0] }}">
                <h2>{{ tag[0] }}</h2>
                <ul>
                    {% for post in tag[1] %}
                        {% assign day = post.date | date: '%w' | plus: 0 %}
                        {% assign day_n = site.data.strings.days[day] %}
            
                        {% assign month = post.date | date: '%m' | plus: 0 %}
                        {% assign month_n = site.data.strings.months[month] %}
            
                        {% assign year = post.date | date: '%Y' %}  
                        {% assign md = post.date | date: '%e' %}

                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            <span>{{ day_n | append: '، ' | append: md | append: ' ' | append: month_n | append: ' ' | append: year }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <script>
        var url = new URL(window.location.href);
        var tag = url.searchParams.get("tag");

        document.title = "همه پست ها برای تگ " + tag + " {{ site.title_sep }} " + "{{ site.title }}";

        var tags = [{% for tag in site.tags %}"{{ tag[0] }}",{% endfor %}];

        if (tag != null) {
            if (!tags.includes(tag))
                window.location.href = "/404.html";

            document.getElementById("tags-list-container").style.display = "none";
            
            var tag_containers = document.getElementsByClassName("tag-container");
            for (var i = 0; i < tag_containers.length; i++) {
                if (tag_containers[i].id != tag) tag_containers[i].style.display = "none";
            }
        }
    </script>



</div>
{% include footer.html %}