---
layout: default
permalink: /tags/
title: آرشیو تگ ها
---
{% include header.html %}
<div class="page-tags">

    <div class="w3-center animate__animated animate__fast" id="preloader">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        <p>در حال بارگذاری<br>لطفا صبر کنید!</p>
    </div>

    <div class="animate__animated animate__fast" id="wrapper">

        <div class="tags-list-container" id="tags-list-container">
            {% for tag in site.tags %}
                <a href="/tags/#{{ tag[0] }}" style="font-size: {{ tag[1].size | plus: 12 }}px;">{{ tag[0] }}<span>({{ tag[1].size }})</span></a>
            {% endfor %}
        </div>

        <div class="tags-archive">
            {% for tag in site.tags %}
                <div class="tag-container" id="{{ tag[0] }}">
                    <h2>{{ tag[0] }}</h2>
                    <ul>
                        {% for post in tag[1] %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    </div>

    <script>
        var url = new URL(window.location.href);
        var tag = url.searchParams.get("tag");

        var tags = [{% for tag in site.tags %}"{{ tag[0] }}",{% endfor %}];

        if (tag != null) {
            if (!tags.includes(tag))
                window.location.href = "/404.html";

            document.getElementById("tags-list-container").style.display = "none";
            
            var tag_containers = document.getElementsByClassName("tag-container");
            for (var i = 0; i < tag_containers.length; i++) {
                if (tag_containers[i].id != tag) tag_containers[i].style.display = "none";
            }
        }

        setTimeout(() => {
            document.getElementById("preloader").classList.toggle("animate__bounceOut");
            
            setTimeout(() => {
                document.getElementById("preloader").style.display = "none";
                document.getElementById("wrapper").style.display = "block";                    
                document.getElementById("wrapper").classList.toggle("animate__fadeIn");
            }, 800);
        }, 500);

</script>


</div>
{% include footer.html %}