</div>

<footer class="page-footer">

    {% if site.top_nav %}
        <nav class="bottom-nav">
            {% if site.data.navigations[site.bottom_nav] %}
                <div class="w3-bar">
                    {% for item in site.data.navigations[site.bottom_nav] %}
                        <a href="{{ item.url }}" class="{% if item.url == page.url %}active {% endif %}w3-bar-item w3-button w3-hover-none{% if item.hide == 'desktop' %} w3-hide-medium w3-hide-large{% elsif item.hide == 'mobile' %} w3-hide-small{% endif %}" target="{{ item.target | default: '_blank' }}" title="{{ item.title }}">
                            <i class="{{ item.icon | default: 'fa fa-external-link-square' }}"></i>
                            {% if item.title %}
                                <span class="w3-hide">{{ item.title }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </nav>
    {% endif %}

    <div class="site-copyrights">
        <p><a href="https://github.com/akam0098ir/akam0098ir.github.io" target="_blank">{{ site.title }}</a> یک پروژه متن باز بوده و تحت مجوز <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.fa" target="_blank">CC BY-NC 4.0 DEED</a> برای عموم در دسترس است <span class="copyleft">&copy;</span> 1402</p>
    </div>
</footer> 
</div>