</div>

<footer class="page-footer">
    <nav class="bottom-nav">
        {% if site.top_nav %}
            {% if site.data.navigations[site.bottom_nav] %}
                <div class="w3-bar">
                    {% for item in site.data.navigations[site.bottom_nav] %}
                        <a href="{{ item.url }}" class="{% if item.url == page.url %}active {% endif %}w3-bar-item w3-button w3-hover-none">
                            {% if item.icon %}
                                <i class="{{ item.icon }}"></i>
                                <span class="w3-hide">{{ item.title }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </nav>

    <div class="site-copyrights">
        <p>تمام حقوق مادی و معنوی این وبسایت برای <a href="/">{{ site.title }}</a> محفوظ است</p>
        <p>توسعه داده شده توسط <a href="https://akam0098ir.github.io">آکام</a></p>
    </div>
</footer> 
</div>