#_trading_journal {
    margin-top: 64px;
    
    li {
        &.date {
            list-style: none;
            margin-top: 32px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

} // -------------------------------- end