---
---
@charset "UTF-8";

$theme_color: black;

::selection {
    background-color: $theme_color;
    color: white;
}

html,
body {
    margin: 0;
}

@import 
    "fonts",
    "global",
    "single",
    "navigations",
    "page_404",
    "responsive",
    "blog"
;