---
layout: default
---
{% include header.html %}

<article class="page-article type-{{ page.type }}">
    <div class="article-header">
        <h1 class="article-title">{{ page.title }}</h1>
        {% if page.type == "post" %}
            <div class="article-meta">
                <!-- {% assign date = site.data.strings.days[] %} -->

                {% if page.categories %}
                    <span>دسته بندی شده در</span>
                    {% for category in page.categories %}
                        <a href="#!">{{ category }}</a>
                    {% endfor %}
                {% endif %}
                    
                
                <!-- comments -->
            </div>
        {% endif %}

        {% if page.image %}
            <figure class="page-thumbnail">
                <img src="{{ page.image }}" alt="{% if page.image_caption %}{{ page.image_caption | strip_html }}{% else %}{{ page.title }}{% endif %}">
                {% if page.image_caption %}
                    <figcaption>{{ page.image_caption }}</figcaption>
                {% endif %}
            </figure>
        {% endif %}
    </div>

    <div class="article-entry">
        {{ content }}
    </div>
    
    <div class="article-footer">
        <div class="article-tags">
            {% for tag in page.tags %}
                <a href="/tags/?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</article>

{% if page.support == true %}
    <div class="page-support">
        <h2>حمایت</h2>
        <p>با مراجعه به برگه حمایت با روش های مختلفی که می تونید از پروژه وبلاگحمایت کنید آشنا بشد. حمایت های شما واقعا خوشحال کننده و امیدی مضاعف برای ادامه راه خواهد بود.</p>
        <nav class="w3-bar">
            <a href="/support/">صفحه حمایت</a>
        </nav>
    </div>
{% endif %}

{% if page.comments %}
    <div class="page-comments">
        {% include disqus.html %}
    </div>
{% endif %}

{% include footer.html %}